[Unit]
Description=thm service

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/python /.unknown/service/server.py
Restart=always
WorkingDirectory=/.unknown/service/
Nice=19
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target