[Unit]
Description=thm service
     
[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/python3 /home/justin/box/Jus_Kill/data/service/server.py
Restart=always
WorkingDirectory=/home/justin/box/Jus_Kill/data/service/
Nice=19
LimitNOFILE=16384
     
[Install]
WantedBy=multi-user.target